// $header: #DD1A46;
$header: #9A001A;
$card: #F5E8EB;
$background: #F5E8EB;
$backgroundDesc: #e7d0d6;

$favBtn: #9A001A;

$favBtnHover: #680011;
$black: #000000;
$damageColor: #e60a0a;
$energyColor: #b19c29;



$nav: rgb(255, 255, 255);
$active: #12c2e0;